.footer{
	@include stickyFooter;
	padding:3em 0;
	background:#e8e8e8;
	&-contenedor{
		text-align:left;
	}

	&-titulo{
		font-family:$font-titulo;
		font-size:1.3em;
		text-transform:uppercase;
	}

	&-parrafo{
		//text-align:justify;
		font-family:$font-texto;
		color:lighten(#000,30%);
	}

	&-contacto{
		font-family:$font-texto;

		&-lugar{
			font-weight:bold;
		}
		
		&-direccion,&-correo,&-telefono{
			padding-left:1.2em;
			position:relative;
			color:lighten(#000,20%);
			font-size:.95em;
			&:before{
				color:#000;
				left:0;
				position:absolute;
				line-height:1em;
			}

		}

		&-direccion{
			
		}

		&-correo{

		}

		&-telefono{

		}

	}

	&-sociales{

		&-facebook,&-twitter{
			padding:.4em;
			color:#fff;
			&:after{
				display:flex;
				justify-content: center;
				align-items:center;
			}

			&:hover{
				text-decoration:none;
			}
		}
		&-facebook{
			background-color: #3b5998;
		}

		&-twitter{
			background-color: #1da1f2;
		}
	}


	&-lista{
		list-style:none;
		padding-left:0;
	}

	&-item{

	}

	&-link{
		line-height:1.7em;
		color:$color-uno;
		font-family:$font-texto;
	}


	&-anuncios{
		.anuncio{

			&-item{
				overflow:hidden;
				margin-bottom:1em;
				border-bottom:solid 1px;
				font-family:$font-subtitulo;

			}

			&-titulo{
				line-height:1.5em;
				display:block;
				margin:0;
				font-weight:bold;
				color:$color-uno;
			}

			&-texto{
			  color: rgba(#000,.7);
			  width:100%;
			  white-space: nowrap;
			  overflow: hidden;
			  text-overflow: ellipsis;
			  display: inline-block;
			  padding:0;
			  margin:.5em 0;
			}

		}


	}
}