.formulario{
	&-caja{
		margin:.5em 0;
	}

	&-label{
		display:none;
	}
	
	&-text,&-textarea{
		//border:none;
		//font-size:1em ;
		padding:.5em;
		padding: 15px;
		width:100%;
		color:rgba(#000,.5);

		&:active,&:focus{
			outline: none;
			//box-shadow:none;
		}
	}


	&-textarea{
		//border-bottom:1px solid rgba(#000,.4);
		//font-size:1.2em !important;
	}

	&-file{
		width:100%;
		display:flex;
		align-items:flex-start;


		&-input{
			position: absolute;
    		left: -9999px;
		}

		&-label{
  			padding:0 1em;
  			line-height:45px;
			display:block;
			background:$color-dos;
			cursor:pointer;
			color:#fff;
			text-transform:uppercase;
			
  			&:hover{
  				background:darken($color-dos,17%)
  			}
		}

		&-span{
			color:rgba(#000,.5);
			outline:1px solid #ddd ;
  			padding: 0 1em;
  			display:block;
			flex-grow:1;
			line-height:43px;
			order:1;
			white-space: nowrap;
			overflow:hidden;
			margin-top:1px;
			font-size:.9em;
			//background:darken($color-uno ,10%);
		}

	}
}

.notificacion{
	
		border:1px solid $color-dos;
		position:relative;
		font-family:$font-texto;
	&-item{
		line-height:25px;
		font-size:.9em !important;
		color:lighten(#000,30%);
	}

	&-clave{
		font-weight:bold;
		color:$color-dos;
	}

	&-texto{
		text-align:left;
		padding:0 .5em;
		margin-bottom: 5px;
		color:lighten(#000,30%);
		font-size:.9em !important;
		padding-right:1.9em;
	}

	&-lista{
		margin-top:5px;
	}

	&-cerrar{
		position:absolute;
		top:5px;
		right: 6px;
		border:solid 1px $color-dos;
		height:20px;
		width:20px;
		border-radius:50%;
		background: $color-dos;
		color:#fff;
		display:flex;
		justify-content: center;
		align-items:center;
		font-weight:bold;
		cursor:pointer;

	}

	&-off{
		display:none;
	}
}