<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Economistas y Asociados, <%= @inscrito.nombre %></h1>
    <p>
      Tu suscripción se realizo satisfactoriamente
    </p>
    <p>
      Recuerda visitarnos en: <a href="<%= @url %>">whconsultores.com</a>
    </p>
    <p>¡Gracias!</p>
  </body>
</html>