@font-face {
    font-family: 'HelveticaNeue';
    src: asset-url('fonts/helveticaneue.eot'),
         asset-url('fonts/helveticaneue.eot?#iefix') format('embedded-opentype'),
         asset-url('fonts/helveticaneue.woff') format('woff'),
         asset-url('fonts/helveticaneue.ttf') format('truetype'),
         asset-url('fonts/helveticaneue.svg') format('svg');
    font-weight:normal;
    font-style:normal;
}	