<div class="contacto-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'contacto.jpg'%>);background-size:cover;background-position: center;" class="v-contacto-img"></div>
			<div class="v-contacto-opacidad"></div>
		<div class="v-contacto">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-contacto-titulo">Contacto</h1>
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>

	<div class="ed-container informacion">
		<div class="ed-item s-100 l-50 informacion-izquierda">
			<h3 class="informacion-titulo">Como encontrarnos</h3>
			<p class="informacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium rerum sit unde sed, nam facere molestiae provident veritatis?</p>
			<div class="datos">
				<span class="datos-titulo">Oficina Central</span>
				<p class="datos-direccion">Calle las Dalias D1-5 Interior 101 Urb. Miiraflores</p>
				<p class="datos-telefono"><span class="datos-atributo">Telefono: </span>968499806 / (RPM) *186163</p>
				<p class="datos-email"><span class="datos-atributo">Email:</span> williarhidalgo@gmail.com</p>
			</div>
		</div>
		<div class="ed-item s-100 l-50 no-padding informacion-derecha">
			<div class="ed-item s-100">
				<h3 class="informacion-titulo">Envianos un mensaje</h3>
			</div>
			<form action="" class="informacion-formulario ed-container ed-item">
				<div class=" ed-item s-100 l-50 formulario-caja">
					<label for="" class="formulario-label">Nombre</label>
					<input type="text" class="formulario-text" placeholder="Nombre" />
				</div>
				<div class=" ed-item s-100 l-50 formulario-caja">
					<label for="" class="formulario-label">Email</label>
					<input type="text" class="formulario-text" placeholder="Email" />
				</div>
				<div class=" ed-item s-100 formulario-caja">
					<label for="" class="formulario-label">Mensaje</label>
					<textarea class="formulario-textarea" rows="10" placeholder="Mensaje"></textarea>
				</div>
				<div class="formulario-caja ed-item s-100">
				<button class="btn btn-4" style="color:red"><span>Enviar</span></button>
				</div>
			</form>
		</div>
	</div>

	<div class="ed-container full">
		<div class="mapa-google" id="mapa-google">
			
		</div>
	</div>
</div>