<div class="nosotros-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'publicacion.jpg'%>);background-size:cover;background-position: center;" class="v-nosotros-img"></div>
			<div class="v-nosotros-opacidad"></div>
		<div class="v-nosotros">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-nosotros-titulo">Nuestra Empresa</h1>
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>

	<div class="ed-container ">
		

	</div>

	
</div>