<div class="publicacion-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<!--<div style="background:url(<%=asset_path 'publicacion.jpg'%>);background-size:cover;background-position: center;" class="v-publicacion-img"></div>-->
			<div class="v-publicacion-opacidad"></div>
		<div class="v-publicacion">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-publicacion-titulo">Publicaciones</h1>
				</div>
			</div>
			<!--<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>-->
		</div>
	</div>

	<div class="ed-container ">
		<div class="ed-container ed-item s-100  cross-center busqueda ">
			<h2 class="busqueda-titulo">Busqueda</h2>
				<input type="text" class="formulario-text busqueda-filtro" placeholder="Buscar" style="margin-right: 1em;">
			
			<div class="select select-m busqueda-combo ">
		    <span class="arr"></span>
		    <select>
		      <option>Convocatorias</option>
		      <option>Eventos</option>
		      <option>Noticias</option>
		      <option>Analistas/Consultores</option>
		    </select>
		  </div>
		</div>


		<div class="ed-item s-100 l-65 no-padding">
			<div class="publicaciones">
				<div class="publicacion">
					<div class="publicacion-imagen" style="background: url('https://newevolutiondesigns.com/images/freebies/texture-wallpaper-10.jpg');background-size:cover;background-position: center;">
						<a href="#" class="publicacion-enlace"></a>
						<span class="publicacion-categoria">Noticia</span>
					</div>
					<div class="publicacion-contenido">
						<h2 class="publicacion-titulo">Este es el titulo de la noticia un poco extenso</h2>
						<strong class="publicacion-fecha">Octubre 14,2016</strong>
						<p class="publicacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>

				<div class="publicacion">
					<div class="publicacion-imagen" style="background: url('http://lorempixel.com/1800/600');background-size:cover;background-position: center;">
						<a href="#" class="publicacion-enlace"></a>
						<span class="publicacion-categoria">Noticia</span>
					</div>
					<div class="publicacion-contenido">
						<h2 class="publicacion-titulo">Este es el titulo de la noticia un poco extenso</h2>
						<strong class="publicacion-fecha">Octubre 14,2016</strong>
						<p class="publicacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>

				<div class="publicacion">
					<div class="publicacion-imagen" style="background: url('http://lorempixel.com/1800/600');background-size:cover;background-position: center;">
						<a href="#" class="publicacion-enlace"></a>
						<span class="publicacion-categoria">Noticia</span>
					</div>
					<div class="publicacion-contenido">
						<h2 class="publicacion-titulo">Este es el titulo de la noticia un poco extenso</h2>
						<strong class="publicacion-fecha">Octubre 14,2016</strong>
						<p class="publicacion-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
					</div>
				</div>


			</div>
		</div>

		<div class="ed-item s-100 l-35">
			<div class="contacto">
				<h2 class="contacto-titulo">¿Necesitas más información?</h2>
				<div class="enlaces">
					<a href="#" class="enlace">
						<span class="enlace-titulo">Ubicanos</span>
						<p class="enlace-texto">Todo lo que necesitas saber de los lideres en la industria </p>
					</a>

					<a href="#" class="enlace">
						<span class="enlace-titulo">Desarrolla tu Talento</span>
						<p class="enlace-texto">Los temas de materia institucional 100% disponibles</p>
					</a>

					<a href="#" class="enlace">
						<span class="enlace-titulo">Entérate</span>
						<p class="enlace-texto">Nuestras publicaciones en tu bandeja de email a un solo click</p>
					</a>

					<a href="#" class="enlace">
						<span class="enlace-titulo">Postula</span>
						<p class="enlace-texto">Nuestro staff necesita talentos como tú</p>
					</a>
				</div>
			</div>
			
		</div>
		</div>

	
</div>