<script type="text/template" id="recurso_item-temp">
	<div class="ed-item v-recurso-recurso-item">
	<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
		<div class="v-recurso-recurso-item-imagen">
			<img :src="item.imagen.url" alt="">
		</div>
		<a href="#" class="v-recurso-recurso-item-contacto" @click.prevent="vistaPrevia" >
			<div class="v-recurso-recurso-item-contacto-item" >Ver Perfil</div>
		</a>
		<div class="v-recurso-recurso-item-datos">
			<p class="v-recurso-recurso-item-datos--nombre"><a href="#" class="v-recurso-recurso-item-datos--nombre-link">{{item.nombres | split }} {{item.apellidos}}</a></p>
			<div class="v-recurso-recurso-item-datos--separador"></div>
			<p class="v-recurso-recurso-item-datos--rol">{{item.profesion}}</p>
		</div>
	</div>
</script>

<div class="recurso-page" id="recurso-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'recurso.jpg'%>);background-size:cover;background-position: center;" class="v-recurso-img"></div>
			<div class="v-recurso-opacidad"></div>
		<div class="v-recurso">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-recurso-titulo">Desarrolla tu talento</h1>
					
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>

		<div class="ed-container v-equipo-contenido ">
		<div class="ed-item s-100 l-100 ">

			<div class="v-equipo-filtrado ed-container">
				<div class="ed-item s-100 main-end">
					<div class="select select-m v-equipo-filtrado-select">
				    <span class="arr"></span>
				    <select name="" id="" v-model="rol_seleccionado">
				    	<option value="">Selecciona una opción</option>
				    	<option v-for="rol in roles" :value="rol">{{rol.nombre}}</option>
				    </select>
				  </div>
				</div>
			</div>
		</div>
	</div>
</div>