<script type="text/template" id="recurso_item-temp">
	<div class="recurso-item">
		<h3 class="recurso-nombre">{{recurso.titulo}} - <a class="recurso-archivo" target="_blank" :href="recurso.archivo.url">Descargar</a></h3>
		<span class="recurso-span">Enlaces relacionados</span>
		<div class="recurso-links" v-html="recurso.links"></div>
	</div>
</script>

<div class="recurso-page" id="recurso-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'recursos.jpg'%>);background-size:cover;background-position: center;" class="v-recurso-img"></div>
			<div class="v-recurso-opacidad"></div>
		<div class="v-recurso">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-recurso-titulo">Desarrolla tu talento</h1>
					
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>
		
		
		<div class="ed-container v-recurso-contenido ">
			<div class="ed-item s-100 l-70" style="margin:auto;">
				<p style="font-size: 1.1em;text-align: center;">Aquí encontrarás documentos y enlaces de inteŕes relacionados con los servicios que brindamos en la empresa, estos recursos te servirán para informate y capacitarte en cada una de nuestras especialidades, son totalmente gratuitos.</p>
			</div>
			<div class="ed-item s-100 l-100 ">
				<div class="v-recurso-filtrado ed-container">
					<div class="ed-item s-100 main-end">
						<div class="select select-m v-recurso-filtrado-select">
					    <span class="arr"></span>
					    <select name="" id="" v-model="servicio_seleccionado">
					    	<option value="">Selecciona una opción</option>
					    	<option v-for="servicio in servicios" :value="servicio">{{servicio.nombre}}</option>
					    </select>
					  </div>
					</div>
				</div>
			</div>
			<div class="ed-item s-100 l-70" style="margin:auto">
				<div class="recursos">
					<recurso-item v-for="recurso in recursos" :recurso="recurso"></recurso-item>
					
				</div>
			</div>
	</div>
</div>