<div class="servicios-page ">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=(@sector_actual.imagen_url)%>);background-size:cover;background-position: center;" class="v-subservicio-img"></div>
			<div class="v-subservicio-opacidad"></div>
		<div class="v-subservicio">
			<h1 class="v-subservicio-titulo">Este es un subservicio</h1>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;"></div>
			</div>
		</div>
	</div>
	<div class="ed-container v-sector-contenido ">
		<div class="ed-item s-100 l-70 ">
			<h2 class="v-sector-segundo-titulo">Este es un sector</h2>
			<div class="v-sector-separacion"></div>
			<div class="v-sector-texto">
				<%=raw(@sector_actual.descripcion)%>
			</div>
		</div>
		<div class="ed-item s-100 l-30" style="border-left: rgba(221, 221, 221, 0.2) solid 2px;margin-top: 1em;}">
			<div class="v-sector-menu-vertical">
				<h3 class="v-sector-menu-vertical-cabecera">Sectores</h3>
				<ul class="v-sector-menu-vertical-lista" id="vMenu-servicios">
					<%@sectores.each do |sector|%>
						<li class="v-sector-menu-vertical-item"><a href="/sectores/<%=sector.id%>" class="v-sector-menu-vertical-link"><%=sector.nombre%></a></li>
					<%end%>
					<!--
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Agua y saneamiento</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Comercio</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Construcción e infraestructura de transporte</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Energía e hidrocarburos</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Sistema financiero, previsional y seguros</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Manufactura</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Minería</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Sector público</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Telecomunicaciones</a></li>
					<li class="v-sector-menu-vertical-item"><a href="#" class="v-sector-menu-vertical-link">Otros sectores</a></li>-->
				</ul>
			</div>
		</div>
	</div>
</div>