<div class="servicios-page ">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'servicio.jpg'%>);background-size:cover;background-position: center;" class="v-subservicio-img"></div>
			<div class="v-subservicio-opacidad"></div>
		<div class="v-subservicio">
			<h1 class="v-subservicio-titulo">Este es un subservicio</h1>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;"></div>
			</div>
		</div>
	</div>
	<div class="ed-container v-subservicio-contenido ">
		<div class="ed-item s-100 l-70 ">
			<h2 class="v-subservicio-segundo-titulo">Este es un subservicio</h2>
			<div class="v-subservicio-separacion"></div>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
			<p class="v-subservicio-texto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis voluptatem iure, eum impedit vero, iste, labore repellat ab commodi aperiam, officiis. Voluptates, velit modi deserunt ipsa accusantium dolorum similique labore?, Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa asperiores consequuntur modi officiis repellendus, itaque illo quis excepturi cumque provident necessitatibus deserunt obcaecati nobis voluptatem perspiciatis laudantium voluptas quas rem!</p>
		</div>
		<div class="ed-item s-100 l-30" style="border-left: rgba(221, 221, 221, 0.2) solid 2px;margin-top: .3em;}">
			<div class="v-subservicio-menu-vertical">
				<h3 class="v-subservicio-menu-vertical-cabecera">Servicios</h3>
				<ul class="v-subservicio-menu-vertical-lista" id="vMenu-servicios">
					<li class="v-subservicio-menu-vertical-item"><a href="#" class="v-subservicio-menu-vertical-link">Asesoria</a>
						<ul class="v-subservicio-menu-vertical-submenu">
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut repreheit</a></li>
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut reprehenderit</a></li>
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut reprehenderit</a></li>
						</ul>
					</li>
					<li class="v-subservicio-menu-vertical-item"><a href="#" class="v-subservicio-menu-vertical-link">Capacitación</a>
						<ul class="v-subservicio-menu-vertical-submenu">
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut reprehenderit</a></li>
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut reprehenderit</a></li>
							<li class="v-subservicio-menu-vertical-subitem"><a href="#" class="v-subservicio-menu-vertical-sublink">Empora itaque nisi dicta iure. Veniam eius aut reprehenderit</a></li>
						</ul>
					</li>
					<li class="v-subservicio-menu-vertical-item"><a href="#" class="v-subservicio-menu-vertical-link">Consultoria</a></li>
					<li class="v-subservicio-menu-vertical-item"><a href="#" class="v-subservicio-menu-vertical-link">Encuestas</a></li>
					<li class="v-subservicio-menu-vertical-item"><a href="#" class="v-subservicio-menu-vertical-link">Investigación</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>