<div class="suscribir-page ">
	<div class="ed-container full" style="position: relative;justify-content: center;">
		<div style="background:url(<%=asset_path 'suscribir.jpg'%>);background-size:cover;background-position: center;" class="v-suscribir-img"></div>
		<div class="v-suscribir-opacidad"></div>
		<div class="v-suscribir">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-suscribir-titulo">Enteráte</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="ed-container suscribir  ">

		<div class="ed-item s-100 m-70 l-40 ">
			<div class="suscribir-formulario">
				<div class="suscribir-header">
					<h2 class="suscribir-titulo">Suscribir</h2>
					<p class="suscribir-subtitulo">Esperanos en tu correo</p>
				</div>
				<div class="suscribir-body">
					<form action="">
						<input type="text" class="suscribir-input" placeholder="INGRESA TU CORREO" />
						<button class="suscribir-btn btn " value="">Subscribirme</button>
					</form>
				</div>
			</div>
		</div>
		<div class="ed-item s-100 m-100 l-60 ">
			<div class="suscribir-informacion">
				
			</div>
		</div>
	</div>
</div>