<div class="suscribir-page ">
	<div class="ed-container full" style="position: relative;justify-content: center;">
		<div style="background:url(<%=asset_path 'suscribir.jpg'%>);background-size:cover;background-position: center;" class="v-suscribir-img"></div>
		<div class="v-suscribir-opacidad"></div>
		<div class="v-suscribir">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-suscribir-titulo">Enter치te</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="ed-container suscribir  ">

		<div class="ed-item s-100 m-70 l-40 ">
			<div class="suscribir-formulario">
				<div class="suscribir-header">
					<h2 class="suscribir-titulo">Suscribir</h2>
					<p class="suscribir-subtitulo">Esperanos en tu correo</p>
				</div>
				<div class="suscribir-body">
					<form action="/suscribir" method="POST">
					<input type="text" name="nombre" placeholder="Tu nombre completo" class="suscribir-nombres">
						<input type="text" class="suscribir-input" name="email" placeholder="Ingresa tu correo" />
						<button class="suscribir-btn btn " value="">Suscribirme</button>
					</form>
				</div>
			</div>
		</div>
		<div class="ed-item s-100 m-100 l-55 " style="background: #fff;">
			<div class="suscribir-informacion">
			<div style="background: #fff;">
					<%if flash[:correcto]%>
						<div class="notificacion ">
							<div class="notificacion-cerrar">x</div>
							<p class="notificacion-texto"><%=flash[:correcto]%></p>
						</div>
					<%elsif flash[:errors]%>
						<div class="notificacion">
							<div class="notificacion-cerrar">x</div>
							<p class="notificacion-texto">No se pudo enviar el mensaje, por favor corrige los siguientes problemas:</p>
							<ul class="notificacion-lista">
								<% flash[:errors].each do |key, value| %>
									<li class="notificacion-item"><span class="notificacion-clave"><%=key%></span> - <%=value%></li>
								<% end %>
							</ul>
						</div>
					<%end%>
			</div>
			<h2 class="suscribir-informacion_titulo">Al suscribirte</h2>
				<p class="suscribir-informacion_texto">Recibir치s un email cada vez que publiquemos una <strong>noticia</strong>, <strong>evento</strong>, o lancemos una <strong>convocatoria</strong>, adem치s de informaci칩n adicional.</p>
				<p class="suscribir-informacion_texto-dos">Todo esto <strong>a un solo click</strong>.</p>
				<span class="suscribir-informacion_firma">Economistas Asociados</span>
			</div>
		</div>
	</div>
</div>