<script type="text/template" id="equipo_item-temp">
	<div class="ed-item v-equipo-equipo-item">
	<!--TAMAÑO IMAGEN RECOMENDADA 246 X 300 PIXELES-->
		<div class="v-equipo-equipo-item-imagen">
			<img :src="item.imagen.url" alt="">
		</div>
		<a href="#" class="v-equipo-equipo-item-contacto" @click.prevent="vistaPrevia" >
			<div class="v-equipo-equipo-item-contacto-item" >Ver Perfil</div>
		</a>
		<div class="v-equipo-equipo-item-datos">
			<p class="v-equipo-equipo-item-datos--nombre"><a href="#" class="v-equipo-equipo-item-datos--nombre-link">{{item.nombres | split }} {{item.apellidos}}</a></p>
			<div class="v-equipo-equipo-item-datos--separador"></div>
			<p class="v-equipo-equipo-item-datos--rol">{{item.profesion}}</p>
		</div>
	</div>
</script>

<div class="equipo-page" id="equipo-page">
	<div class="ed-container full" style="position: relative;justify-content: center;">
			<div style="background:url(<%=asset_path 'equipo.jpg'%>);background-size:cover;background-position: center;" class="v-equipo-img"></div>
			<div class="v-equipo-opacidad"></div>
		<div class="v-equipo">
			<div class="ed-container">
				<div class="ed-item s-100">
					<h1 class="v-equipo-titulo">Nuestro equipo Profesional</h1>
					
				</div>
			</div>
			<div class="ed-container main-center" style="background-color: #fff;margin-top: auto;z-index: 30">
				<div class="ed-item s-100 l-95" style="	height: 35px;z-index: 100;">
					
				</div>
			</div>
		</div>
	</div>
	<div class="ed-container v-equipo-contenido ">
		<div class="ed-item s-100 l-100 ">

			<div class="v-equipo-filtrado ed-container">
				<div class="ed-item s-100 main-end">
					<div class="select select-m v-equipo-filtrado-select">
				    <span class="arr"></span>
				    <select name="" id="" v-model="rol_seleccionado">
				    	<option value="">Selecciona una opción</option>
				    	<option v-for="rol in roles" :value="rol">{{rol.nombre}}</option>
				    </select>
				  </div>
				</div>
			</div>

			<h2 class="v-equipo-segundo-titulo" v-show="rol_seleccionado">{{rol_seleccionado.nombre}}</h2>
			<h2 class="v-equipo-segundo-titulo" v-show="!rol_seleccionado">Equipo</h2>
			<div class="v-equipo-equipo ed-container" v-show="!previsualizar">

				<equipo_item v-for="item in equipo" :item="item" v-on:previa="previsualizarItem"></equipo_item>
			</div>

			<div class="ed-container ed-item s-100 v-equipo-perfil" v-show="previsualizar">
			<div class="ed-item s-100">
				<a href="" class="btn" style="border:red;color:#fff;background-color: red;margin-bottom: 1em;" @click.prevent="regresarLista">Regresar a la lista</a>
			</div>
				<div class="ed-item s-100 m-100 l-40 v-equipo-perfil-izquierda">
					<img :src="equipo_seleccionado.imagen.url" alt="" class="v-equipo-perfil-img">
				</div>
				<div class="ed-item s-100 m-90 l-40 v-equipo-perfil-derecha">
					<h3 class="v-equipo-perfil-nombre">{{equipo_seleccionado.nombres}} {{equipo_seleccionado.apellidos}}</h3>
					<h4 class="v-equipo-perfil-rol">{{equipo_seleccionado.profesion}}</h4>
					<div class="v-equipo-perfil-descripcion" v-html="equipo_seleccionado.descripcion"></div>

					<div class="v-equipo-perfil-contacto">
						<span class="contacto contacto-telefono icon-phone">{{equipo_seleccionado.telefono}}</span>
						<span class="contacto contacto-email icon-email">{{equipo_seleccionado.correo}}</span>
					</div>
				</div>
			</div>

		</div>
		<!--
		<div class="ed-item s-100 l-25" style="border-left: rgba(221, 221, 221, 0.2) solid 2px;margin-top: 1em;}">
			<div class="v-equipo-menu-vertical">
				<h3 class="v-equipo-menu-vertical-cabecera"></h3>
				<ul class="v-equipo-menu-vertical-lista" id="vMenu-servicios">
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Socios</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Analistas</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Asociados</a></li>
					<li class="v-equipo-menu-vertical-item"><a href="#" class="v-equipo-menu-vertical-link">Analistas / Consultores</a></li>
				</ul>
			</div>
		</div>
		-->
	</div>
</div>