.recurso-page{
	background-color: lighten(#000,95%);
	margin:60px 0 0;
	padding-bottom:30px;

	.v-recurso{
		display: flex;
		align-items:center;
		min-height: 300px;
		height: 35vh;
		position: relative;
		width:100%;
		justify-content: center;
		flex-wrap: wrap;

		@include from(m){
			justify-content: flex-start;
		}

		&-img,&-opacidad,&-efecto-titulo{
			position:absolute;
			width:100%;
			height:100%;
			top:0;
			left:0;
			font-family:$font-titulo;
		}
		&-img{
			z-index:5;
			background-attachment: fixed;
		}

		&-opacidad{
			background:linear-gradient(to bottom,transparent 0,#555 100%);
			z-index:10;
		}

		&-titulo{
			text-align:center;
			font-weight: bold;
			margin-top:1.5em;
			margin-left:.5em;
			text-transform:uppercase;
			position: relative;
			z-index:20;
			font-size:1.8em;
			color:#fff;
			text-shadow: 35px 35px 0px rgba(#fff, .1);
			font-family:$font-titulo;

			@include from(m){
				font-size:2.2em;
			}

			
		}

		&-filtrado{
			margin-bottom:2em;

			&-select{
				//margin-right:2em;
			}
		}





		&-separacion{
			height:3px;
			background-color: rgba(#000,.2);
			margin-top:3px;
			position:relative;
			&:before{
				background-color: rgba(#000,.1);
				content:'';
				height:3px;
				position:absolute;
				top:200%;
				right:0;
				width:98%;
			}
		}

		&-segundo-titulo{
			color:$negro;
			margin:5px 0 0;
			font-size:1.8em;
			text-align: center;
			font-family:$font-titulo;

		}



		&-contenido{
			background:#fff;
			padding:1.5em 0;
		}

	}


		//recursos

		.recursos{
			@include grid('.recurso-item',1,2,3);
			.recurso{
				&-item{
					border:1px solid #aaa;
					padding:.5em .4em;
					box-sizing:border-box;
				}

				&-nombre{
					font-family:$font-titulo;
					font-size:.9em;
					margin-top:0;
					margin-bottom:0;
				}

				&-archivo{
					font-size:.8em;
					text-transform:uppercase;
					margin-top:0;
					//display:block;
					color:$color-dos;
				}

				&-span{
					font-size:.9em;
					color:#abc;
					display:block;
					margin-bottom:0;
					padding-bottom:0;
					margin-top:.8em;
				}

				&-links{
					text-align:justify;
					word-break: break-all;
					ul,ol{
						padding-left:1em;
					}
					p{
						margin-bottom:0;
						line-height:.7em;
					}

					a{
						font-size:.8em;
						color:$color-uno;
					}
				}
			}
		}

		
}