$blanco:#fff;
$negro:rgba(#000,.9);
$gris:rgba(#000,.6);
$gris-2:rgba(#000,.3);



$font-texto: 'Merriweather', serif;

$font-texto: 'Open Sans', sans-serif;

$font-texto: 'Lato', sans-serif;

//$font-titulo: 'Bree Serif', serif;

$font-titulo:'Oswald', sans-serif;

//$font-titulo: 'BenchNine', sans-serif;

$font-texto:'Roboto', sans-serif;



//Tipografia seleccionada
$font-titulo:'HelveticaNeue',Arial;

$font-subtitulo:'HelveticaNeue',Arial;

$font-texto:'HelveticaNeue',sans-serif;

$color-combo:#EB5168;

//Colores Seleccionados

$color-uno:#4B7BCE;//azul
$color-dos:#F26753;//rojo
$color-tres:#bbb;//gris
$color-cuatro:#fff;//blanco;